#btn{
    background-color: inherit;
    font-family: elephant;
    font-size: 13px;
    cursor: pointer;
}
#head{
    margin-left: 50px;
}
/* body{
    background: rgb(255, 254, 121);
} */
#nicer{
    width: auto;
}
#dan{
    color: coral;
    margin-left: 130px;
}
#brown{
    color: coral;
    margin-left: 60px;
    font-size: 1.9em;
    margin-top: 5px;
}
#the{
    margin-left: 130px;

}
#V{
    font-family: OldEnglish Text MT;
    font-size: 1.5em;
}
#code{
    margin-left: 130px;
    font-size: 2em;
    margin-top: 5px;
}
#review{
    align-items: baseline;
    margin-top: 3%;
    margin-left: 51px;
}